* {
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  outline: none;
}

input {
  border: 0;
  outline: none;
}

@media (max-width: 1199px) {
  .image-row-block {
    width: 850px;
  }
  .image-row-block-arrow-left {
    display: none;
  }
  .image-row-block-three-arrow-right {
    display: none;
  }
}

@media (max-width: 1000px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .header-item {
    padding-top: 50px;
  }
  .header-section {
    padding-top: 30px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    padding-top: 50px;
  }
  .hero-dog {
    width: 300px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
  }
  .about-main {
    width: 400px;
  }
  .about-main-text {
    width: 400px;
  }
  .about-image {
    padding-right: 20px;
  }
  .phone-info-image {
    width: 380px;
  }
  .footer {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .footer-main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 100px;
  }
  .image-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 50px;
  }
  .image-row-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .image-row-button {
    margin-top: 950px;
  }
  .image-row-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
    width: 500px;
  }
  .image-row-block-one-info {
    height: 500px;
  }
  .image-row-block-two-info {
    height: 500px;
  }
  .image-row-block-three-info {
    height: 500px;
  }
}

@media (max-width: 800px) {
  .phone-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 50px;
  }
  .phone-info-image {
    width: 300px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 50px;
  }
  .image-row-title {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .header-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
    width: 300px;
  }
  .header-section {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .hero-dog {
    width: 225px;
  }
  .about {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .about-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 350px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .about-main-text {
    width: 350px;
  }
  .about-image {
    width: 200px;
  }
  .image-row-block {
    width: 350px;
  }
  .image-row-title {
    text-align: center;
    font-size: 25px;
    max-width: 300px;
  }
  .phone-info {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .phone-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 340px;
  }
  .phone-info-block-phone {
    max-width: 400px;
    height: 50px;
  }
  .phone-info-block-phone-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .header-section {
    height: 879px;
  }
  .hero {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
  }
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 310px;
  }
  .phone-info-block {
    max-width: 310px;
    margin: 0;
  }
  .phone-info-block-subtitle {
    max-width: 310px;
  }
  .phone-info-block-phone {
    max-width: 300px;
  }
  .phone-info-block-phone-text {
    font-size: 18px;
  }
  .phone-info-block-desc {
    max-width: 300px;
  }
  .image-row-block {
    max-width: 300px;
  }
  .about {
    padding: 50px 0 50px 0;
  }
  .about-main {
    max-width: 310px;
  }
  .about-main-text {
    max-width: 310px;
  }
}
/*# sourceMappingURL=media.css.map */