* {
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  outline: none;
}

input {
  border: 0;
  outline: none;
}

.button {
  background: #f1cdb3;
  color: #474747;
  width: 207px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 100px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.button:hover {
  background: white;
  border: 1px solid #f1cdb3;
}

.header-section {
  background-image: url(img/start-screen-gradient-background.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 908px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 40px 0;
  height: 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title {
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  max-width: 250px;
}

.header-text {
  margin-top: 10px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #cdcdcd;
  text-align: center;
  max-width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
          column-gap: 35px;
}

.header-item-links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #cdcdcd;
  line-height: 160%;
}

.header-item-links:first-child {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85%;
  padding: 0 40px;
}

.hero-dog {
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 698px;
  max-height: 728px;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 460px;
}

.hero-container-title {
  font-size: 44px;
  line-height: 130%;
  color: white;
  line-height: 130%;
}

.hero-container-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin-top: 42px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 215px;
  height: 588px;
}

.about-main {
  max-width: 430px;
}

.about-main-title {
  max-width: 370px;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
}

.about-main-text {
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 25px;
}

.image-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  height: 877px;
  background: #f6f6f6;
}

.image-row-title {
  padding-top: 80px;
  font-family: Georgia;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  max-width: 400px;
}

.image-row-block {
  width: 1200px;
  height: 435px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-row-block-one {
  background-color: #fafafa;
  width: 270px;
  height: 435px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.image-row-block-one-info-title {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.image-row-block-one-info-button {
  background: #fafafa;
  border: 1px solid #f1cdb3;
  color: #474747;
  width: 190px;
  height: 52px;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 100px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.image-row-block-one-info-button:hover {
  background: #f1cdb3;
  border: 1px solid #f1cdb3;
}

.image-row-block-one-arrow-left {
  width: 52px;
  height: 52px;
  margin-right: 53px;
}

.image-row-block-two {
  background-color: #fafafa;
  width: 270px;
  height: 435px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.image-row-block-two-info-title {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.image-row-block-two-info-button {
  background: #fafafa;
  border: 1px solid #f1cdb3;
  color: #474747;
  width: 190px;
  height: 52px;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 100px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.image-row-block-two-info-button:hover {
  background: #f1cdb3;
  border: 1px solid #f1cdb3;
}

.image-row-block-three {
  background-color: #fafafa;
  width: 270px;
  height: 435px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.image-row-block-three-info-title {
  padding-top: 30px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.image-row-block-three-info-button {
  background: #fafafa;
  border: 1px solid #f1cdb3;
  color: #474747;
  width: 190px;
  height: 52px;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 100px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.image-row-block-three-info-button:hover {
  background: #f1cdb3;
  border: 1px solid #f1cdb3;
}

.image-row-block-three-arrow-right {
  width: 52px;
  height: 52px;
}

.image-row-button {
  background: #f1cdb3;
  color: #474747;
  width: 260px;
  height: 52px;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 100px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.image-row-button:hover {
  background: white;
  border: 1px solid #f1cdb3;
}

.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 611px;
}

.item-list-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  width: 1200px;
  height: 431px;
  background-color: white;
}

.item-list-block-title {
  font-size: 23.5px;
  line-height: 130%;
  color: #545454;
  letter-spacing: 0.06em;
  width: 308px;
  text-align: center;
}

.item-list-block-first {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding-top: 60px;
  padding-left: 87px;
  padding-right: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-list-block-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap nowrap;
      flex-flow: wrap nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 185px;
  padding-right: 213px;
  width: 1150px;
}

.item-list-block-food {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

.item-list-block-transporation {
  text-align: center;
}

.item-list-block-transporation-text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

.item-list-block-toys {
  text-align: center;
}

.item-list-block-toys-text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

.item-list-block-cups {
  text-align: center;
}

.item-list-block-cups-text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

.item-list-block-shampoos {
  text-align: center;
}

.item-list-block-shampoos-text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

.item-list-block-vitamins {
  text-align: center;
}

.item-list-block-vitamins-text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

.item-list-block-medicines {
  text-align: center;
}

.item-list-block-medicines-text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

.item-list-block-collars {
  text-align: center;
}

.item-list-block-collars-text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

.item-list-block-areas {
  text-align: center;
}

.item-list-block-areas-text {
  padding-top: 30px;
  font-size: 20px;
  line-height: 115%;
  color: #545454;
  letter-spacing: 0.06em;
}

.phone-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 464px;
  background-color: #f6f6f6;
  row-gap: 30px;
}

.phone-info-block {
  width: 380px;
  margin-left: 30px;
}

.phone-info-block-title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 300px;
}

.phone-info-block-subtitle {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 20px;
}

.phone-info-block-phone {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
}

.phone-info-block-phone-text {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.phone-info-block-desc {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.footer {
  background-image: url(img/footer-gradient-background.png);
  background-position: center;
  background-size: cover;
  height: 350px;
}

.footer-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 40px 0 40px;
}

.footer-first-title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #fff;
  width: 280px;
}

.footer-first-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 45px;
  width: 251px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.footer-first-email-text {
  font-size: 20px;
  line-height: 115%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  width: 191px;
  height: 23px;
}

.footer-first-email:hover {
  border-bottom: 3px solid #f1cdb3;
}

.footer-first-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 49px;
  width: 239px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.footer-first-phone-text {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  height: 23px;
}

.footer-first-phone:hover {
  border-bottom: 3px solid #f1cdb3;
}

.footer-second-title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #fff;
  width: 302px;
}

.footer-second-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.footer-second-city-text {
  font-size: 20px;
  line-height: 115%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  width: 260px;
  height: 46px;
}

.footer-second-city:hover {
  border-bottom: 3px solid #f1cdb3;
}

.footer-second-geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 49px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.footer-second-geo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  width: 260px;
  height: 33px;
}

.footer-second-geo:hover {
  border-bottom: 3px solid #f1cdb3;
}
/*# sourceMappingURL=style.css.map */