* {
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  outline: none;
}

input {
  border: 0;
  outline: none;
}

@media (max-width: 1199px) {
  .image-row-block {
    width: 850px;
  }
  .image-row-block-arrow-left {
    display: none;
  }
  .image-row-block-three-arrow-right {
    display: none;
  }
  .item-list-block {
    width: 850px;
  }
  .item-list-block-first {
    width: 850px;
  }
  .item-list-block-second {
    padding: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 850px;
  }
}

@media (max-width: 1000px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
    height: 100px;
  }
  .header-item {
    padding-top: 50px;
  }
  .header-section {
    height: 600px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 500px;
  }
  .hero-dog {
    display: none;
  }
  .about-main {
    width: 400px;
  }
  .about-main-text {
    width: 400px;
  }
  .about-image {
    padding-right: 20px;
  }
  .phone-info-image {
    width: 380px;
  }
  .footer-main-block-image {
    display: none;
  }
  .image-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1700px;
  }
  .image-row-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .image-row-button {
    margin-top: 800px;
  }
  .image-row-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-column-gap: 50px;
            column-gap: 50px;
    width: 500px;
  }
  .item-list {
    display: none;
  }
}

@media (max-width: 800px) {
  .phone-info-image {
    display: none;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 0;
  }
  .footer {
    height: 700px;
  }
  .footer-main-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 100px;
  }
}

@media (max-width: 500px) {
  .header-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }
  .header-section {
    height: 650px;
  }
  .hero {
    margin-top: 50px;
  }
  .about {
    height: 480px;
  }
  .about-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 350px;
    height: 800px;
  }
  .about-main-text {
    width: 350px;
  }
  .about-image {
    display: none;
  }
  .image-row-block {
    width: 350px;
  }
  .phone-info {
    height: 360px;
  }
  .phone-info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 340px;
  }
  .phone-info-block-phone {
    width: 300px;
    height: 50px;
  }
  .phone-info-block-phone-text {
    text-align: center;
    width: 180px;
  }
}
/*# sourceMappingURL=media.css.map */