* {
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  outline: none;
}
input {
  border: 0;
  outline: none;
}

@mixin slowTrans {
  transition: all 0.3s ease;
}

@media (max-width: 1199px) {
  .image-row-block {
    width: 850px;
    &-arrow-left {
      display: none;
    }
    &-three-arrow-right {
      display: none;
    }
  }
  .item-list-block {
    width: 850px;
    &-first {
      width: 850px;
    }
    &-second {
      padding: 60px;
      display: flex;
      justify-content: space-between;
      width: 850px;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    height: 100px;
    &-item {
      padding-top: 50px;
    }
    &-section {
      height: 600px;
    }
  }
  .hero {
    display: flex;
    justify-content: center;
    height: 500px;

    &-dog {
      display: none;
    }
  }
  .about-main {
    width: 400px;
    &-text {
      width: 400px;
    }
  }
  .about-image {
    padding-right: 20px;
  }
  .phone-info-image {
    width: 380px;
  }
  .footer-main-block {
    &-image {
      display: none;
    }
  }
  .image-row {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 1700px;
    &-title {
      display: flex;
      align-items: start;
    }
    &-button {
      margin-top: 800px;
    }
  }
  .image-row-block {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    width: 500px;
  }
  .item-list {
    display: none;
  }
}

@media (max-width: 800px) {
  .phone-info-image {
    display: none;
  }
  .about {
    display: flex;
    flex-direction: column;
    height: min-content;
    padding: 0;
  }
  .footer {
    height: 700px;
    &-main-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 100px;
    }
  }
}

@media (max-width: 500px) {
  .header-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
  .header-section {
    height: 650px;
  }
  .hero {
    margin-top: 50px;
  }
  .about {
    height: 480px;
    &-main {
      display: flex;
      justify-content: start;
      flex-direction: column;
      text-align: center;
      width: 350px;
      height: 800px;
      &-text {
        width: 350px;
      }
    }
    &-image {
      display: none;
    }
  }
  .image-row-block {
    width: 350px;
  }
  .phone-info {
    height: 360px;
    &-block {
      display: flex;
      justify-content: start;
      flex-direction: column;
      height: min-content;
      width: 340px;
      &-phone {
        width: 300px;
        height: 50px;
        &-text {
          text-align: center;
          width: 180px;
        }
      }
    }
  }
}
