* {
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  outline: none;
}
input {
  border: 0;
  outline: none;
}

@mixin slowTrans {
  transition: all 0.7s ease;
}

.button {
  background: #f1cdb3;
  color: #474747;
  width: 207px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 17px;
  border-radius: 100px;
  @include slowTrans();
  &:hover {
    background: white;
    border: 1px solid #f1cdb3;
  }
}

.header-section {
  background-image: url(../img/start-screen-gradient-background.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 908px;
}
.header {
  display: flex;
  align-items: center;
  padding: 60px 40px 0;
  height: 15%;
  justify-content: space-between;
  &-title {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    max-width: 250px;
  }
  &-text {
    margin-top: 10px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #cdcdcd;
    text-align: center;
    max-width: 250px;
    font-family: Arial, Helvetica, sans-serif;
  }
  &-item {
    display: flex;
    column-gap: 35px;
    &-links {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: #cdcdcd;
      line-height: 160%;
      &:first-child {
        color: #fafafa;
        border-bottom: 3px solid #f1cdb3;
      }
    }
  }
  &-container {
    display: flex;
    flex-direction: column;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85%;
  padding: 0 40px;
  &-dog {
    align-self: flex-end;
    max-width: 698px;
    max-height: 728px;
  }
  &-container {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    &-title {
      font-size: 44px;
      line-height: 130%;
      color: white;
      line-height: 130%;
    }
    &-text {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      line-height: 160%;
      color: #cdcdcd;
      margin-top: 42px;
    }
  }
}

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 588px;
  &-main {
    max-width: 430px;
    &-title {
      max-width: 370px;
      font-size: 35px;
      line-height: 130%;
      color: #545454;
      letter-spacing: 0.06em;
    }
    &-text {
      font-size: 15px;
      line-height: 160%;
      color: #4c4c4c;
      font-family: Arial, Helvetica, sans-serif;
      padding-top: 25px;
    }
  }
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
  height: 877px;
  background: #f6f6f6;
  &-title {
    padding-top: 80px;
    font-family: Georgia;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 400px;
  }
  &-block {
    width: 1200px;
    height: 435px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-one {
      background-color: #fafafa;
      width: 270px;
      height: 435px;
      text-align: center;
      display: flex;
      flex-direction: column;
      column-gap: 30px;
      &-info {
        &-title {
          padding-top: 30px;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.06em;
          color: #545454;
        }
        &-button {
          background: #fafafa;
          border: 1px solid #f1cdb3;
          color: #474747;
          width: 190px;
          height: 52px;
          margin-top: 30px;
          font-size: 17px;
          border-radius: 100px;
          @include slowTrans();
          &:hover {
            background: #f1cdb3;
            border: 1px solid #f1cdb3;
          }
        }
      }
      &-arrow-left {
        width: 52px;
        height: 52px;
        margin-right: 53px;
      }
    }
    &-two {
      background-color: #fafafa;
      width: 270px;
      height: 435px;
      text-align: center;
      display: flex;
      flex-direction: column;
      column-gap: 30px;
      &-info {
        &-title {
          padding-top: 30px;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.06em;
          color: #545454;
        }
        &-button {
          background: #fafafa;
          border: 1px solid #f1cdb3;
          color: #474747;
          width: 190px;
          height: 52px;
          margin-top: 30px;
          font-size: 17px;
          border-radius: 100px;
          @include slowTrans();
          &:hover {
            background: #f1cdb3;
            border: 1px solid #f1cdb3;
          }
        }
      }
    }
    &-three {
      background-color: #fafafa;
      width: 270px;
      height: 435px;
      text-align: center;
      display: flex;
      flex-direction: column;
      column-gap: 30px;
      &-info {
        &-title {
          padding-top: 30px;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.06em;
          color: #545454;
        }
        &-button {
          background: #fafafa;
          border: 1px solid #f1cdb3;
          color: #474747;
          width: 190px;
          height: 52px;
          margin-top: 30px;
          font-size: 17px;
          border-radius: 100px;
          @include slowTrans();
          &:hover {
            background: #f1cdb3;
            border: 1px solid #f1cdb3;
          }
        }
      }
      &-arrow-right {
        width: 52px;
        height: 52px;
      }
    }
  }
  &-button {
    background: #f1cdb3;
    color: #474747;
    width: 260px;
    height: 52px;
    margin-top: 30px;
    font-size: 17px;
    border-radius: 100px;
    @include slowTrans();
    &:hover {
      background: white;
      border: 1px solid #f1cdb3;
    }
  }
}

.item-list {
  padding: 80px 20px 100px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
  &-title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 308px;
    text-align: center;
  }
  &-block {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    column-gap: 120px;
    row-gap: 55px;
    justify-content: center;
    &-container {
      display: flex;
      row-gap: 30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-text {
      font-size: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
    }
  }
}

.phone-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 464px;
  background-color: #f6f6f6;
  row-gap: 30px;
  &-block {
    width: 380px;
    margin-left: 30px;
    &-title {
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #545454;
      width: 300px;
    }
    &-subtitle {
      font-size: 15px;
      line-height: 110%;
      letter-spacing: 0.06em;
      color: #545454;
      padding-top: 20px;
    }
    &-phone {
      margin-top: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 350px;
      height: 43px;
      background: #f1cdb3;
      border-radius: 9px;
      &-text {
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
      }
    }
    &-desc {
      margin-top: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      line-height: 18px;
      color: #b2b2b2;
    }
  }
}

.footer {
  background-image: url(../img/footer-gradient-background.png);
  background-position: center;
  background-size: cover;
  height: 350px;
  &-main-block {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0 40px;
  }
  &-first {
    &-title {
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #fff;
      width: 280px;
    }
    &-email {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 45px;
      width: 251px;
      &-text {
        font-size: 20px;
        line-height: 115%;
        color: #f1cdb3;
        letter-spacing: 0.06em;
        width: 191px;
        height: 23px;
      }
      @include slowTrans();
      &:hover {
        border-bottom: 3px solid #f1cdb3;
      }
    }
    &-phone {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-top: 49px;
      width: 239px;
      &-text {
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
        height: 23px;
      }
      @include slowTrans();
      &:hover {
        border-bottom: 3px solid #f1cdb3;
      }
    }
  }
  &-second {
    &-title {
      font-size: 35px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #fff;
      width: 302px;
    }
    &-city {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 45px;
      &-text {
        font-size: 20px;
        line-height: 115%;
        color: #f1cdb3;
        letter-spacing: 0.06em;
        width: 260px;
        height: 46px;
      }
      @include slowTrans();
      &:hover {
        border-bottom: 3px solid #f1cdb3;
      }
    }
    &-geo {
      display: flex;
      justify-content: space-between;
      padding-top: 49px;
      &-text {
        display: flex;
        align-items: flex-end;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #f1cdb3;
        width: 260px;
        height: 33px;
      }
      @include slowTrans();
      &:hover {
        border-bottom: 3px solid #f1cdb3;
      }
    }
  }
}
